<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid ps-4">
    <!-- <a class="navbar-brand pt-0"><img src="assets/images/menu_icon.png" alt="" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
      aria-controls="offcanvasExample">
      <button class="navbar-toggler" type="button" style="padding: 0 !important;">
        <span class="navbar-toggler-icon"></span>
      </button>
    </a> -->

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"><img src="assets/images/Xpert_logo.png" alt=""
              height="30"></a>
        </li>
      </ul>

      <!-- Add ms-auto to push the profile section to the right -->
      <div class="ms-auto d-flex align-items-center profileSec">
        <div class="row" *ngIf="profileData != undefined">
          <!-- Profile Image -->
          <div class="col-auto p-0">
            <img src="{{imageUrl}}{{profileData.profileimage}}" alt="" class="profileImg">
          </div>

          <!-- Username (allocate more space here) -->
          <div class="col mt-1 profileInfo">
            <span class="text-white">{{profileData.fullname}}</span>
            <div class="text-white">{{profileData.UserStatus}}</div>
          </div>

          <!-- Sign-out Icon -->
          <div class="col-auto">
            <img src="../../assets/images/sign_out_img.png" alt="" class="signOut pe-3" class="signOutImg">
          </div>
        </div>
      </div>

    </div>
  </div>
</nav>
<nav>
  <ul class="nav-row" #menuContainer>
    <li *ngFor="let item of menuList" class="nav-item d-flex align-items-center" [class.active]="item.active">
      <img src="assets/images/MenuIcons/{{item.ModuleName}}.png" alt="" height="15"><a (click)="toggleMenu(item, $event)" style="cursor: pointer;">{{ item.ModuleName }}</a>

      <!-- Child Links -->
      <ul *ngIf="item.isOpen" class="dropdown">
        <li *ngFor="let child of item.submenu" [class.active]="child.active">
          <a [routerLink]="child.path">{{ child.ModuleName }}</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>


