.navbar {
    height: 2.2rem;
    background: #2e4975;
    .navbar-brand{
        img{
            cursor: pointer;
        }
    }
}

.navbar-collapse {
    .profileSec {
        .profileImg {
            height: 30px;
            border-radius: 50px;
            margin-top: 5px;
        }
        .signOutImg {
            height: 25px;
            margin-top: 8px;
        }

        .profileInfo{
            font-family: 'FaktPro-Normal';
        }

        .signOut {
            height: 35px;
            margin-top: 10px;
        }

    }

}

/* Parent navbar */
.nav-row {
  display: flex;
  justify-content: center;
  gap: 15px;
  list-style: none;
  padding: 0;
  background: #bfcfd9;
  position: relative;
}

/* Parent link */
.nav-item {
  position: static;
  margin-right: 10px;
}

.nav-row a {
  text-decoration: none;
  padding: 5px 5px;
  color: #000;
  border-radius: 5px;
  display: block;
  font-family: 'FaktPro-Medium';
  font-size: 14px;
}

/* Active Parent Link */
.nav-item.active > a {
  // background: #ff6f00 !important;
  color: #ff6f00 !important;
  text-decoration: none;
  padding: 5px 5px;
  // color: #000;
  border-radius: 5px;
  display: block;
  font-family: "FaktPro-Medium";
  font-size: 14px;
}

/* Dropdown */
.nav-item:hover .dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* Ensure dropdown only appears when `*ngIf` is true */
.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100vw; /* Adjust as needed */
  background: white;
  padding: 10px 0;
  list-style: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  text-align: center;
}

/* Active Child Link */
.dropdown li.active > a {
  font-weight: bold;
  color: #007bff !important;
}

/* Style child links */
.dropdown a {
  color: black;
  background: none;
  padding: 10px 15px;
  display: block;
  font-size: 14px;
}

.dropdown a:hover {
  background: #f1f1f1;
}
ul{
  margin-bottom: 0 !important;
}