<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid ps-4">
    <a class="navbar-brand" href="#"><img src="../../assets/images/menu_icon.png" alt=""></a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"><img src="../../assets/images/Xpert_logo.png" alt=""
              height="40"></a>
        </li>
      </ul>

      <!-- Add ms-auto to push the profile section to the right -->
      <div class="ms-auto d-flex align-items-center profileSec">
        <div class="row">
          <!-- Profile Image -->
          <div class="col-auto p-0">
            <img src="../../assets/images/DeafaultUserImg.jpg" alt="" class="profileImg">
          </div>

          <!-- Username (allocate more space here) -->
          <div class="col mt-1 profileInfo">
            <span class="text-white">Veera ChVeera Ch</span>
            <div class="text-white">Online</div>
          </div>

          <!-- Sign-out Icon -->
          <div class="col-auto">
            <img src="../../assets/images/sign_out_img.png" alt="" class="signOut pe-3" class="signOutImg">
          </div>
        </div>
      </div>

    </div>
  </div>
</nav>

