<div class="spinner-container" *ngIf="spinner">
    <div class="spinner-wrapper">
        <div class="logo-glow"></div> <!-- Soft glow behind logo -->
        <div class="spinner"></div>
        <span class="logo-text">
            <img src="../../../assets/images/Xpert_logo.png" alt="XPERT" height="35px">
        </span>
    </div>
</div>

<div class="loadstatusPage">
    <div class="col-12 d-flex align-items-center headerDesign ">
        <div class="col-3 title">Data Loads</div>
        <div class="col-3">
            <select name="" id="" class="form-select" [(ngModel)]="dealer"
                style="padding: .125rem 2.25rem .125rem .75rem;margin: 3px 0;">
                <option value="">Select Dealer</option>
                <option *ngFor="let dealer of dealersData" [value]="dealer.dealer_id">{{dealer.DealerName}}</option>
            </select>
        </div>
        <div class="col-3">
            <div class="datepicker-container">
                <input class="form-control" name="date" autocomplete="off" [(ngModel)]="selectDate"
                    placeholder="Due Date" bsDatepicker #datepicker="bsDatepicker"
                    [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY', showWeekNumbers: false, containerClass: 'theme-dark-blue' }"
                    style="padding: .175rem .75rem;" />

                <!-- Close Icon -->
                <img src="../../../assets/images/calendar-icon.png" class="datepicker-close-img" alt="Close"
                    (click)="clearDate(datepicker)" [(ngModel)]="selectDate" bsDatepicker />
            </div>
        </div>
        <div class="col-3 text-end tagsHead d-flex justify-content-end pe-1">
            <div class="addBtnStyle" *ngIf="gridForm == true" (click)="addNewLoadstatus()"><img
                    src="../../../assets/images/xpertAddIcon.png" alt=""><span>add</span></div>
        </div>
    </div>



    <div class="scrollTagsData" *ngIf="gridForm == true">
        <table class="table  table-striped gridTable text-black">
            <thead>
                <tr>
                    <th>Client</th>
                    <th class="text-center">Time</th>
                    <th class="text-center">CDK Status</th>
                    <th class="text-center">Reynolds Status</th>
                    <th class="text-center">Drive Centric Status</th>
                    <th class="text-center">vAuto Status</th>
                    <th class="text-center">DealerFX Status</th>
                    <th class="text-center">Checked By</th>
                    <th class="text-center">Edit</th>
                    <th class="text-center">Delete</th>
                </tr>
            </thead>
            <tbody >
                <ng-container *ngIf="loadStatusData.length != 0">
                <tr *ngFor="let dataLoad of loadStatusData">
                    <td>{{dataLoad.ls_client}}</td>
                    <td class="text-center">{{convertToIST(dataLoad.time)}}</td>
                    <td class="text-center"
                        [ngStyle]="{'color': dataLoad.cdk_status === 'Not Updated' ? 'red' : 'black'}">
                        {{ dataLoad.cdk_status }}</td>
                    <td class="text-center"
                        [ngStyle]="{'color': dataLoad.reynolds_status === 'Not Updated' ? 'red' : 'black'}">
                        {{ dataLoad.reynolds_status }}</td>
                    <td class="text-center"
                        [ngStyle]="{'color': dataLoad.drivecentric_status === 'Not Updated' ? 'red' : 'black'}">
                        {{ dataLoad.drivecentric_status }}</td>
                    <td class="text-center"
                        [ngStyle]="{'color': dataLoad.vauto_status === 'Not Updated' ? 'red' : 'black'}">
                        {{dataLoad.vauto_status}}</td>
                    <td class="text-center"
                        [ngStyle]="{'color': dataLoad.dealerfx_status === 'Not Updated' ? 'red' : 'black'}">
                        {{dataLoad.dealerfx_status}}</td>
                    <td class="text-center">{{dataLoad.checked_by}}</td>
                    <td class="text-center"><img src="../../../assets/images/editIcon.png" alt=""></td>
                    <td class="text-center"><img src="../../../assets/images/deleteIcon.png" alt=""></td>

                </tr>
            </ng-container>
           

            </tbody>
        </table>
        <div *ngIf="loadStatusData.length == 0" class="text-center text-black mt-3">No data found</div>
    </div>

    <div class="loadstatusForm mt-5 d-flex justify-content-center align-items-center" *ngIf="gridForm == false">
        <table class=" text-black">
            <tr>
                <td class="keyName">Client :</td>
                <td>
                    <select name="" id="" class="form-select"
                    style="padding: .125rem 2.25rem .125rem .75rem;margin: 3px 0;">
                    <option value="">Select</option>
                    <option *ngFor="let dealer of dealersData" [value]="dealer.dealer_id">{{dealer.DealerName}}</option>
                </select>
                </td>
            </tr>
            
            <tr>
                <td class="keyName">CDK load status :</td>
                <td >
                    <select name="" id="" class="form-select">
                        <option value="">Select</option>
                    </select>
                </td>
            </tr>
           
            <tr>
                <td class="keyName">Reynolds load Status :</td>
                <td >
                    <select name="" id="" class="form-select">
                        <option value="">Select</option>
                    </select>
                </td>
            </tr>
           
            <tr>
                <td class="keyName">Drive Centric load Satus :</td>
                <td >
                    <select name="" id="" class="form-select">
                        <option value="">Select</option>
                    </select>
                </td>
            </tr>
           
            <tr>
                <td class="keyName">vAuto load Status :</td>
                <td >
                    <select name="" id="" class="form-select">
                        <option value="">Select</option>
                    </select>
                </td>
            </tr>
         
            <tr>
                <td class="keyName">DealerFX load Status  :</td>
                <td >
                    <select name="" id="" class="form-select">
                        <option value="">Select</option>
                    </select>
                </td>
            </tr>
           
            <tr>
                <td class="keyName">Comments  :</td>
                <td >
                   <input type="text" class="form-control">
                </td>
            </tr>
            
            <tr>
                <td class="keyName">Counts  :</td>
                <td >
                   <input type="text" class="form-control">
                </td>
            </tr>
           
            <tr>
                <td class="keyName">Date  :</td>
                <td >
                    <input class="form-control" name="date" autocomplete="off" 
                    placeholder="Due Date" bsDatepicker #datepicker="bsDatepicker"
                    [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY', showWeekNumbers: false, containerClass: 'theme-dark-blue' }"
                    style="padding: .175rem .75rem;" />

                <!-- Close Icon -->
                <img src="../../../assets/images/calendar-icon.png" class="datepicker-close-img" alt="Close"
                    (click)="clearDate(datepicker)"  bsDatepicker />
                </td>
            </tr>
           
            <tr >
                <td class="text-end"> <button class="btn btn-primary me-2 submitBtn" >Submit</button></td>
                <td>
                    <button class="btn btn-secondary" >Cancel</button>
                </td>
            </tr>

        </table>
           
    </div>


</div>