<div class="spinner-container" *ngIf="spinner">
  <div class="spinner-wrapper">
    <div class="logo-glow"></div> <!-- Soft glow behind logo -->
    <div class="spinner"></div>
    <span class="logo-text">
      <img src="../../../assets/images/Xsupport_logo_white.png" alt="XPERT" height="25px">

    </span>
  </div>
</div>



<main>

  <div class="container-fluid ">
    <div class="row mt-3">

      <div class="col">
        <div class="rgt_panel">
          <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center justify-content-start">
              <h1>Tickets</h1>
              <div class="tic_status">
                <ng-container *ngFor="let statusCount of statusData">
                  <h6 (click)="countStatusClick(statusCount.ID)" style="cursor: pointer;">{{statusCount.Status == 'New'
                    ? 'Un Assigned' : statusCount.Status}} <span>{{statusCount.count}}</span></h6>
                </ng-container>
              </div>
            </div>
            <div>
              <div class="search">
                <input type="text" class="form-control" placeholder="Search" (keyup)="filterTextChange()"
                  (keyup.enter)="filterTextChange1()" [(ngModel)]="filterSearch">
                <img src="../../../assets/images/search_icon.png" alt="" class="search-icon"
                  (click)="filterTextChange1()">
              </div>
            </div>
          </div>

          <div class="status_bar">
            <div class="filters">
              <div class="dropdown-container">
                <select (change)="filterStatusCountChange()" [(ngModel)]="filterDealer">
                  <option value="">Client</option>
                  <option *ngFor="let dealer of dealersData" [value]="dealer.dealer_id">{{dealer.DealerName}}</option>
                </select>
              </div>

              <div class="dropdown-container">
                <select name="" id="" (change)="filterStatusCountChange()" [(ngModel)]="filterStatus">
                  <option value="">Status</option>
                  <option value="7">Un Assigned</option>
                  <option value="1">Open</option>
                  <option value="11">In Development</option>
                  <option value="13">Ready For Release</option>
                  <option value="14">Released</option>
                  <option value="5">Resolved</option>
                  <option value="4">Closed</option>
                  <option value="12">Testing</option>
                  <option value="8">Re open</option>
                </select>
              </div>

              <div class="dropdown-container">
                <select [(ngModel)]="filterCreatedBy">
                  <option value="">Customer</option>
                  <option *ngFor="let user of createdUsersList" [value]="user.T_UserEmail">{{ user.T_UserName }}
                  </option>
                </select>
              </div>

              <div class="dropdown-container">
                <select [(ngModel)]="filterAssignedUser" (change)="selectAssinedUser()">
                  <option value="">Assigned To</option>
                  <option *ngFor="let user of usersInfoList" [value]="user.UserId">{{ (user.FirstName + ' ' +
                    user.LastName) }}</option>
                </select>
              </div>
           
              <div class="dropdown-container">
                <select>
                  <option selected>Due date</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                </select>
              </div>
              <!-- <div class="dropdown-container">
                <select>
                  <option selected>close date</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                </select>
              </div> -->
           
              <div class="dropdown-container">
                <select [(ngModel)]="filterByManager" (change)="selectManager()">
                  <option value="0">By manager</option>
                  <option *ngFor="let user of managersDataList" [value]="user.userid">{{user.name }}</option>
                </select>
              </div>
              <p data-bs-toggle="dropdown" aria-expanded="false">Sorting <span><img
                    src="../../../assets/images/sort.png" alt=""></span></p>
              <ul class="dropdown-menu text-small shadow filter_adv">
                <li><a class="dropdown-item" href="#">By manager</a></li>
                <li><a class="dropdown-item" href="#">Resolved</a></li>
              </ul>
              <p data-bs-toggle="dropdown" aria-expanded="false">Advanced filters <span><img
                    src="../../../assets/images/filter.svg" alt=""></span></p>
              <ul class="dropdown-menu text-small shadow filter_adv">
                <li><a class="dropdown-item" href="#">Customers</a></li>
                <li><a class="dropdown-item" href="#">Release</a></li>
              </ul>
              <!-- <select class="form-select form-select-sm">
                  <option selected>status</option>
                  <option value="1">Unassigned</option>
                  <option value="2">Open</option>
                  <option value="3">Indevelopment</option>
                </select>
                <select class="form-select form-select-sm">
                  <option selected>ticket owner</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                </select>
                <select class="form-select form-select-sm">
                  <option selected>create date</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                </select>
                <select class="form-select form-select-sm">
                  <option selected>close date</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                </select>
                <select class="form-select form-select-sm">
                  <option selected>customers</option>
                  <option value="1">Cavender</option>
                  <option value="2">DreamMotors</option>
                  <option value="3">FredBeans</option>
                </select>
                <select class="form-select form-select-sm">
                  <option selected>assigned to</option>
                  <option value="1">Veerababu CH</option>
                  <option value="2">Ankireddy</option>
                  <option value="3">Pradeep GSS</option>
                </select>
                <select class="form-select form-select-sm">
                  <option selected>by manager</option>
                  <option value="1">Veerababu CH</option>
                  <option value="2">SrinivasRao Y</option>
                  <option value="3">Gowtham GVV</option>
                </select> -->


            </div>
            <div class="d-flex align-items-center justify-content-center ms-auto">
              <button class="btn_sml sub_btn mx-2" (click)="filterGrid()">Submit</button>
              <button class="btn_sml clr_btn mx-2">Clear</button>
            </div>

          </div>
          <div class="table-wrapper" *ngIf="list">
            <table class="table custom-table">
              <thead>
                <tr>
                  <th>&nbsp;</th>
                  <th>#ticket </th>
                  <th>source</th>
                  <th>client</th>
                  <th>status</th>
                  <th>assignee</th>
                  <th>due date</th>
                  <th>severity</th>
                  <th>priority</th>
                  <th>tags</th>
                </tr>
              </thead>
              <tbody>
                <tr class="custom-row" [ngClass]="{'closed' : task.ReqStatus == 'Closed'}"
                  (click)="openComponent(task,'edit',$event)" alt="" style="cursor: pointer;"
                  *ngFor="let task of allTicketsData;let i = index">
                  <td>
                    <div class="d-flex">
                      <div class="position-relative">
                        <img src="../../assets/images/doc_icon.png" alt="" (click)="openComponent(task,'doc',$event)"> <div class="doc_count" *ngIf="task.Documents.Documents && task.Documents.Documents.Document" >
                          {{ task.Documents.Documents.Document.length>0 ? task.Documents.Documents.Document.length : task.Documents.Documents.Document? 1:0}}
                        </div>
                      </div>
                      <div class="position-relative"><img src="../../assets/images/comment_icon.png"alt="" (click)="openComponent(task,'comments',$event)"><div class="doc_count" *ngIf="task.cmtcnt > 0" >{{task.cmtcnt}}</div></div>
                    </div>
                   
                  </td>
                  <td>
                    <!-- <h1>#{{task.Ticket}}</h1>
                    <div class="d-flex align-items-center">
                      <span><img style="cursor: pointer;" src="../../../assets/images/commentsIcon.png" alt=""
                          (click)="openComponent(task,'comments')"></span>
                      <div>{{task.TaskTitle}}</div>
                    </div> -->
                      <!-- <h1>#20251104123</h1> -->
                      <div class="d-flex align-items-center justify-content-start flex-wrap">
                        <p>#{{task.Ticket}}</p>
                        <div class="tick_desp">{{task.TaskTitle}}</div>
                      </div>
                  </td>
                  <td>{{task.ReqSource == 'F' ? 'Client' : 'Internal'}}</td>
                  <td>{{task.ReqDealerName}}</td>
                  <td>{{task.ReqStatus}}</td>
                  <td>
                    <div class="assigne">
                      <img [title]="task.AssignUSERNAME" src="{{xpertProfileImg}}{{task.AssignProfileImage_thumb}}">
                    </div>
                  </td>
                  <td>
                    <div class="lte_ylw">{{task.Dueterms}}</div>
                  </td>
                  <td>
                    <div class="ylw">Medium</div>
                  </td>
                  <td>
                    <div class="lte_ylw"
                      [ngClass]="{'lte_red' : task.T_Priority == 1,'lte_ylw' : task.T_Priority == 2, 'lte_grn' : task.T_Priority == 3}">
                      {{task.T_Priority == 1 ? 'High' : task.T_Priority == 2 ? 'Medium' : 'Low'}}
                    </div>
                  </td>
                  <td>
                    <div class="tags-content d-flex align-items-center">
                      <div class="tags">
                        <div [ngClass]="tag.TagType" *ngFor="let tag of task.TaskTagsLists.TaskTagsLists.TaskTagsList.slice(0,1)">
                          {{tag.TagName | titlecase}}
                        </div>

                        
                      </div>

                       <!-- +X More (Tooltip Trigger) -->
                       <div class="more-tags-container"
                       *ngIf="task.TaskTagsLists?.TaskTagsLists?.TaskTagsList.length > 1"
                       (mouseenter)="hoveredRowIndex = i"
                       (mouseleave)="hoveredRowIndex = null">
                    +{{ task.TaskTagsLists?.TaskTagsLists?.TaskTagsList.length - 1 }} more
    
                    <!-- Tooltip Visible Only for Hovered Row -->
                    <div class="tooltip-box" *ngIf="hoveredRowIndex === i">
                      <span *ngFor="let tag of task.TaskTagsLists?.TaskTagsLists?.TaskTagsList.slice(1)"
                            [ngClass]="tag.TagType" 
                            style="border-radius: 5px; padding: 5px;">
                        {{ tag.TagName }} &nbsp;
                      </span>
                    </div>
                  </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>

            <div class="text-center" *ngIf="allTicketsData.length == 0 && spinner == false">No data found</div>
          </div>
          <div class="grid_panel" *ngIf="!list">
            <div class="row">
              <!-- <div class="col-12 grid">
                  <div class="row">
                    <div class="col-6 col-lg-3"><button class="btn">open</button></div>
                    <div class="col-6 col-lg-3"><button class="btn">in progress</button></div>
                    <div class="col-6 col-lg-3"><button class="btn">blocked</button></div>
                    <div class="col-6 col-lg-3"><button class="btn">closed</button></div>
                  </div>
                </div> -->
              <div class="col-12 mt-2 overflow-auto">
                <div class="row d-flex flex-nowrap">
                  <div class="col-6 col-lg-3 ps-0 pe-2">
                    <div class="grid">
                      <div class="col-12"><button class="btn">open</button></div>
                    </div>

                    <div class="grid_box">
                      <ng-container *ngFor="let task of allTicketsData">
                        <div class="box" *ngIf="task.TStatusID == 1">
                          <h1>#{{task.Ticket}}</h1>
                          <div class="title">
                            <div class="subj">
                              <span><img src="../../../assets/images/CheckCircle_gry.png" alt=""></span>
                              <h1>{{task.TaskTitle}} </h1>
                            </div>
                            <div class="status">
                              <div class="ylw"
                                [ngClass]="{'red' : task.T_Priority == 1,'ylw' : task.T_Priority == 2, 'grn' : task.T_Priority == 3}">
                              </div>
                            </div>
                          </div>
                          <div class="descp" [innerHtml]="task.Details">
                          </div>
                          <div class="tags_sec">
                            <div [ngClass]="tag.TagType"
                              *ngFor="let tag of task.TaskTagsLists.TaskTagsLists.TaskTagsList">
                              {{tag.TagName | titlecase}}
                            </div>
                          </div>
                          <div class="assign">
                            <img [title]="task.AssignUSERNAME"
                              src="{{xpertProfileImg}}{{task.AssignProfileImage_thumb}}">
                              <div class="comment">
                                <div class="position-relative">
                                  <img src="../../assets/images/doc_icon.png" alt="">
                                  <div class="com_count">6</div>
                                </div>
                                <div class="position-relative"><img src="../../assets/images/comment_icon.png" alt="">
                                  <div class="com_count">6</div>
                                </div>
                              </div>
                            <div class="due_date">
                              <p>Due <span>Feb <span>9</span></span></p>
                            </div>
                          </div>
                        </div>
                      </ng-container>
                      <!-- <div class="box">
                          <div class="title">
                            <div class="subj">
                              <span><img src="../../../assets/images/CheckCircle_gry.png" alt=""></span>
                              <h1>Ancira Receivables Reports </h1>
                            </div>
                            <div class="status">
                              <div class="red"></div>
                            </div>
                          </div>
                          <div class="descp">
                            Iam registered as a used but my Sales info ffrom last month
                          </div>
                          <div class="tags_sec">
                            <div class="dark_blue">app support</div>
                            <div class="blue">data validation</div>
                            <div class="red">bug</div>
                          </div>
                          <div class="assign">
                            <img src="../../../assets/images/Anki Reddy M.png" alt="">
                            <div class="due_date">
                              <p class="red">Yesterday</p>
                            </div>
                          </div>
                        </div>
                        <div class="box">
                          <div class="title">
                            <div class="subj">
                              <span><img src="../../../assets/images/CheckCircle_gry.png" alt=""></span>
                              <h1>variable income/expense report issues </h1>
                            </div>
                            <div class="status">
                              <div class="ylw"></div>
                            </div>
                          </div>
                          <div class="descp">
                            industry confident asked me about you today confident asked me about you today confident asked
                            me about you today asked me about you today
                          </div>
                          <div class="tags_sec">
                            <div class="dark_blue">app support</div>
                            <div class="blue">data validation</div>
                            <div class="red">bug</div>
                            <div class="purple">Design</div>
                          </div>
                          <div class="assign">
                            <img src="../../../assets/images/" alt="">
                            <div class="due_date">
                              <p class="ylw">Due tomorrow</p>
                            </div>
                          </div>
                        </div> -->
                    </div>


                  </div>
                  <div class="col-6 col-lg-3 ps-2 pe-2">
                    <div class="grid">
                      <div class="col-12"><button class="btn">in progress</button></div>
                    </div>
                    <div class="grid_box">
                      <div class="box">
                        <div class="title">
                          <div class="subj">
                            <span><img src="../../../assets/images/CheckCircle_gry.png" alt=""></span>
                            <h1>variable income/expense report </h1>
                          </div>
                          <div class="status">
                            <div class="ylw"></div>
                          </div>
                        </div>
                        <div class="descp">
                          industry confident asked me about you today confident asked me about you today confident asked
                          me about you today asked me about you today
                        </div>
                        <div class="tags_sec">
                          <div class="dark_blue">app support</div>
                          <div class="purple">Design</div>
                        </div>
                        <div class="assign">
                          <img src="../../../assets/images/Veerababu Ch.jpg" alt="">
                          <div class="due_date">
                            <p>Due <span>Feb <span>9</span></span></p>
                          </div>
                        </div>
                      </div>
                      <div class="box">
                        <div class="title">
                          <div class="subj">
                            <span><img src="../../../assets/images/CheckCircle_gry.png" alt=""></span>
                            <h1>Ancira Receivables Reports </h1>
                          </div>
                          <div class="status">
                            <div class="red"></div>
                          </div>
                        </div>
                        <div class="descp">
                          Iam registered as a used but my Sales info ffrom last month
                        </div>
                        <div class="tags_sec">
                          <div class="dark_blue">app support</div>
                          <div class="blue">data validation</div>
                          <div class="red">bug</div>
                        </div>
                        <div class="assign">
                          <img src="../../../assets/images/Sreeranjani B.jfif" alt="">
                          <div class="due_date">
                            <p class="red">Yesterday</p>
                          </div>
                        </div>
                      </div>

                    </div>

                  </div>
                  <div class="col-6 col-lg-3 ps-2 pe-2">
                    <div class="grid">
                      <div class="col-12"><button class="btn">blocked</button></div>
                    </div>
                    <div class="grid_box">
                      <div class="box">
                        <div class="title">
                          <div class="subj">
                            <span><img src="../../../assets/images/CheckCircle_gry.png" alt=""></span>
                            <h1>variable income/expense report </h1>
                          </div>
                          <div class="status">
                            <div class="ylw"></div>
                          </div>
                        </div>
                        <div class="descp">
                          industry confident asked me about you today confident asked me about you today confident asked
                          me about you today asked me about you today
                        </div>
                        <div class="tags_sec">
                          <div class="dark_blue">app support</div>
                          <div class="purple">Design</div>
                        </div>
                        <div class="assign">
                          <img src="../../../assets/images/Prasanth K B.jpg" alt="">
                          <div class="due_date">
                            <p>Due <span>Feb <span>9</span></span></p>
                          </div>
                        </div>
                      </div>

                    </div>

                  </div>
                  <div class="col-6 col-lg-3 ps-2 pe-0">
                    <div class="grid">
                      <div class="col-12"><button class="btn">closed</button></div>
                    </div>
                    <div class="grid_box">
                      <div class="box closed">
                        <div class="title">
                          <div class="subj">
                            <span><img src="../../../assets/images/CheckCircle_grn.png" alt=""></span>
                            <h1>variable income/expense report </h1>
                          </div>
                          <div class="status">
                            <div class="ylw"></div>
                          </div>
                        </div>
                        <div class="descp">
                          industry confident asked me about you today confident asked me about you today confident asked
                          me about you today asked me about you today
                        </div>
                        <div class="tags_sec">
                          <div class="dark_blue">app support</div>
                          <div class="purple">Design</div>
                        </div>
                        <div class="assign">
                          <img src="../../../assets/images/Meher Kiran Nori.png" alt="">
                          <div class="due_date">
                            <p>Due <span>Feb <span>9</span></span></p>
                          </div>
                        </div>
                      </div>
                      <div class="box closed">
                        <div class="title">
                          <div class="subj">
                            <span><img src="../../../assets/images/CheckCircle_grn.png" alt=""></span>
                            <h1>Ancira Receivables Reports </h1>
                          </div>
                          <div class="status">
                            <div class="red"></div>
                          </div>
                        </div>
                        <div class="descp">
                          Iam registered as a used but my Sales info ffrom last month
                        </div>
                        <div class="tags_sec">
                          <div class="dark_blue">app support</div>
                          <div class="blue">data validation</div>
                          <div class="red">bug</div>
                        </div>
                        <div class="assign">
                          <img src="../../../assets/images/Pradeep G S S.jpg" alt="">
                          <div class="due_date">
                            <p class="red">Yesterday</p>
                          </div>
                        </div>
                      </div>
                      <div class="box closed">
                        <div class="title">
                          <div class="subj">
                            <span><img src="../../../assets/images/CheckCircle_grn.png" alt=""></span>
                            <h1>variable income/expense report issues </h1>
                          </div>
                          <div class="status">
                            <div class="ylw"></div>
                          </div>
                        </div>
                        <div class="descp">
                          industry confident asked me about you today confident asked me about you today confident asked
                          me about you today asked me about you today
                        </div>
                        <div class="tags_sec">
                          <div class="dark_blue">app support</div>
                          <div class="blue">data validation</div>
                          <div class="red">bug</div>
                          <div class="purple">Design</div>
                        </div>
                        <div class="assign">
                          <img src="../../../assets/images/Jagadish V.jpg" alt="">
                          <div class="due_date">
                            <p class="ylw">Due tomorrow</p>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="col-6 col-lg-3 ps-2 pe-2">
                    <div class="grid">
                      <div class="col-12"><button class="btn">un assigned</button></div>
                    </div>
                    <div class="grid_box">
                      <div class="box">
                        <div class="title">
                          <div class="subj">
                            <span><img src="../../../assets/images/CheckCircle_gry.png" alt=""></span>
                            <h1>variable income/expense report </h1>
                          </div>
                          <div class="status">
                            <div class="ylw"></div>
                          </div>
                        </div>
                        <div class="descp">
                          industry confident asked me about you today confident asked me about you today confident asked
                          me about you today asked me about you today
                        </div>
                        <div class="tags_sec">
                          <div class="dark_blue">app support</div>
                          <div class="purple">Design</div>
                        </div>
                        <div class="assign">
                          <img src="../../../assets/images/Veerababu Ch.jpg" alt="">
                          <div class="due_date">
                            <p>Due <span>Feb <span>9</span></span></p>
                          </div>
                        </div>
                      </div>
                      <div class="box">
                        <div class="title">
                          <div class="subj">
                            <span><img src="../../../assets/images/CheckCircle_gry.png" alt=""></span>
                            <h1>Ancira Receivables Reports </h1>
                          </div>
                          <div class="status">
                            <div class="red"></div>
                          </div>
                        </div>
                        <div class="descp">
                          Iam registered as a used but my Sales info ffrom last month
                        </div>
                        <div class="tags_sec">
                          <div class="dark_blue">app support</div>
                          <div class="blue">data validation</div>
                          <div class="red">bug</div>
                        </div>
                        <div class="assign">
                          <img src="../../../assets/images/Sreeranjani B.jfif" alt="">
                          <div class="due_date">
                            <p class="red">Yesterday</p>
                          </div>
                        </div>
                      </div>

                    </div>

                  </div>

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</main>