<div class="spinner-container" *ngIf="spinner">
    <div class="spinner-wrapper">
        <div class="logo-glow"></div> <!-- Soft glow behind logo -->
        <div class="spinner"></div>
        <span class="logo-text">
            <img src="../../../assets/images/Xpert_logo.png" alt="XPERT" height="35px">
        </span>
    </div>
</div>

<div class="howDoIPage">
    <div class="col-12 d-flex align-items-center headerDesign ">
        <div class="col-3 title">How Do I</div>
        <div class="col-3" *ngIf="gridForm == true">
            <select name="" id="" class="form-select" [(ngModel)]="dealer" (change)="changeDealer()"
                style="padding: .125rem 2.25rem .125rem .75rem;margin: 3px 0;">
                <option value="0">Select Dealer</option>
                <option *ngFor="let dealer of dealersData" [value]="dealer.dealer_id">{{dealer.DealerName}}</option>
            </select>
        </div>
        <div class="col-3 ps-2" *ngIf="gridForm == true">
            <select name="" id="" class="form-select" [(ngModel)]="selectedModuleId" (change)="changeModule()"
                style="padding: .125rem 2.25rem .125rem .75rem;margin: 3px 0;">
                <option value="">Select  department</option>
                <option *ngFor="let m of modulearr" [value]="m.mod_seq">
                    {{ m.mod_name }}
                </option>
            </select>
        </div>
        <div class="col-3 text-end tagsHead d-flex justify-content-end pe-1">
            <div class="addBtnStyle" *ngIf="gridForm == true" (click)="addNew()"><img
                    src="../../../assets/images/xpertAddIcon.png" alt=""><span>add</span></div>
        </div>
    </div>

    <div class="scrollTagsData" *ngIf="gridForm == true">
        <table class="table  table-striped gridTable">
            <thead>
                <tr>
                    <th>Department</th>
                    <th class="text-center">Title</th>
                    <th class="text-center">Description</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">Edit</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let f of FaqData">
                    <td>{{f.module_name}}</td>
                    <td class="text-center">{{f.af_title }}</td>
                    <td class="text-center">
                        <div [innerHTML]="updateImageStyles(f.af_desc)" (click)="onImageClick($event,screenshotModal)"></div>
                    </td>
                    <td class="text-center" [ngStyle]="{'color': f.af_status == 'Y' ? 'green' : 'red' }">
                        {{ f.af_status == 'Y' ? 'Active' : 'In-active' }}
                    </td>
                    <td class="text-center" style="padding-left: 20px;">
                        <img src="assets/images/editIcon.png" alt="" style="cursor: pointer;" (click)="editModuleData(f)">
                    </td>
                </tr>

            </tbody>
        </table>

        <div class="text-center text-black" *ngIf="FaqData.length == 0 && spinner == false">No data found</div>
    </div>


    <div class="howDoIForm mt-2 text-black container" *ngIf="gridForm == false">
        <form action="" [formGroup]="howDoIFormPage">
            <div style="height: calc(96vh - 102px);overflow: auto;overflow-x:hidden;padding-right: 10px;">
                <div class="row mb-2">

                    <div class="col-md-6 d-flex align-items-center">
                        <label for="department" class="col-3 col-form-label">Department:</label>
                        <div class="col-9">
                            <select name="" id="" class="form-select" formControlName="department"
                               [ngClass]="{ 'is-invalid': submitted && howDoIFormPage.controls.department.errors }">
                                <option value="">Select a department</option>
                                <option *ngFor="let m of modulearr" [value]="m.mod_seq">
                                    {{ m.mod_name }}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6 d-flex align-items-center">
                        <label for="title" class="col-3 col-form-label">Title:</label>
                        <div class="col-9">
                            <input type="text" class="form-control" formControlName="title" [ngClass]="{ 'is-invalid': submitted && howDoIFormPage.controls.title.errors }">
                        </div>
                    </div>

                </div>

                <div class="row mb-2">
                    <div [ngClass]="{'invalid-border': submitted && howDoIFormPage.controls.description.errors }">
                    <angular-editor [config]="config" formControlName="description" (paste)="onPaste($event)"></angular-editor>
                  </div>
                  </div>

                  <div class="row mb-2" *ngIf="action == 'U'">
                    <div class="col-md-6 d-flex align-items-center">
                        <label for="status" class="col-3 col-form-label">Status:</label>
                        <div class="col-9">
                            <span [ngStyle]="{'color': status== true ? 'green' : 'red' }" class="col-2">
                                <input type="checkbox" [checked]="status" class="ps-2"
                                    (change)="handleStatus($event)" />&nbsp;&nbsp;{{status == true ? 'Active' :
                                'In-Active'}}</span> 
                        </div>
                    </div>
                  </div>

                  <div class="text-center mt-4">
                    <button class="btn btn-primary me-2" style="background-color: #f37121;border: 1px solid #f37121" (click)="submitClick()">Submit</button>
                    <button class="btn btn-secondary" (click)="reset()">Cancel</button>
                  </div>

            </div>
        </form>
    </div>


    <!-- Screen Short Modal -->
<ng-template #screenshotModal let-modal>
    <div class="modal-header px-3 py-2">
        <h5 class="modal-title text-black"></h5>
        <button type="button" class="btn-close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body text-black text-center">
        <img [src]="selectedImage" class="img-fluid">
    </div>
</ng-template>