.modal-body{
    .titleClass{
        h6{
            font-family: 'FaktPro-Bold';
            color: #1470c1;

            .title{
                font-family: 'FaktPro-Medium';
                color: #000;
            }
        }
        
    }
    .commentsList{
        height: 250px;
        overflow: auto;
        overflow-x: hidden;

        label{
            padding-left: 5px; cursor: pointer; font-size: 13px; font-family: 'FaktPro-Normal'; color: #000;text-decoration: underline;
        }

        .commentsdata {
            font-family: 'FaktPro-Bold';
            font-size: .9rem;
            color: #1470c1;
          }
        
          .commentMessage {
            font-family: 'FaktPro-Normal';
            font-size: .9rem;
          }
    }
}