<div class="overlay" id="overlay" *ngIf="spinner">
    <div class="loader"></div>
</div>

<div class="modal-header px-3 py-2">
    <h5 class="modal-title text-black">Attachments</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeModal()" aria-label="Close"></button>
</div>
<div class="modal-body text-black">
    <div class="documentList">
        <div *ngFor="let doc of ticketDocuments" class="mb-1">
            <div class="d-flex align-items-center">
                <a [title]="doc.Document" target="_blank" class="d-flex align-items-center"
                    href="{{xpertNodefiles}}/{{doc.Document}}">
                    <img src="assets/images/landing/img_icon1.png" alt="" />
                    <label>
                        {{ getShortDocument(doc.Document) }}
                    </label>
                </a>
                <span class="ps-3" *ngIf="roleId == 100"><img src="../../../assets/images/closetag.png" alt=""
                        style="cursor : pointer" (click)="deleteDocument(doc)"></span>

            </div>
        </div>
        <div class="text-center" *ngIf="spinner == false && ticketDocuments.length == 0">
            No Documents Found
        </div>
    </div>
    <fieldset class="custom-fieldset">
        <legend class="custom-legend">Attachments</legend>
        <div class="text-center title d-flex align-items-center justify-content-center"><span class="pe-2">Attach
                File</span><input type="file" class="form-control file" name="" id="" #fileInput multiple
                (change)="onAttachFileSelected($event)"></div>
        <br>
        <div class="text-center">
            <button class="btn btn-primary" (click)="Attachment(fileInput)">Submit</button>&nbsp;
            <button class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">Cancel</button>
        </div>
    </fieldset>
</div>