.modal-header{
    background-color: #bfcfd9;
    .modal-title{
        font-family: 'FaktPro-Bold';
        font-size: 14px;
    }
}

.modal-body{
    .documentList{
        height: 250px;
        overflow: auto;

        label{
            padding-left: 5px; cursor: pointer; font-size: 13px; font-family: 'FaktPro-Normal'; color: #000;text-decoration: underline;
        }
    }

    .custom-fieldset {
        border: 2px solid #000;
        padding: 10px;
        border-radius: 5px;
        margin: 20px 0;
        font-family: 'FaktPro-Normal';

        .title{
            span{
                color: #1470c1;
            font-family: 'FaktPro-Medium';
            font-size: 14px;
            }
            .file{
                width: 50%;
            }
        }
      
      }
      
      .custom-legend {
        padding: 0;
        margin-bottom: .5rem;
        text-align: center;
        float: none;
        width: 15%;
        font-size: 1rem;
        font-family: 'FaktPro-Normal';
      
      }
      
    
}

