.container-fluid{
    .profileDiv{
        width: 100%;
         height: calc(100vh - 55px);
        background: #fff;
        color: #000;
    }
    .header{
        background-color: #1471c2;
    }
}