.container-fluid{
    .profileDiv{
        width: 20%;
        height: calc(100vh - 55px);
        background: #fff;
        color: #000;
        margin-top: 55px;
    }
    .header{
        background-color: #1471c2;
    }
}