<div class="container-fluid p-0">
    <div class="profileDiv">
        <div class="headerName">Profile</div>
        <div class="profileData">
            <div class="col-12" *ngIf="profileData != undefined">
                <div class="row">
                    <div class="col-3 profileImg"><img src="{{imageUrl}}{{profileData.profileimage_thumb}}" alt=""></div>
                    <div class="col-9 profileInfo">
                        
                        <div class="profileInfoStyle">{{profileData.fullname}}</div>
                        <div class="profileInfoTitle">{{profileData.title}}</div>
                        <div class="profileInfoStyle">{{profileData.u_doj}}</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="profileSchedule">
            <div class="shiftSchedule">
                <img src="assets/images/shift_icon (1).png" height="15" alt=""><span class="ps-1">SHIFT SCHEDULE</span>
            </div>
            
            <div class="displayWeek">
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <div class="col-1 leftArrow" (click)="showPreviousWeek()">&lt;</div>
                    <div class="col-10 week">{{ startDate | date:'MMM dd' }} - {{ endDate | date:'dd, YYYY' }}</div>
                    <div class="col-1 rightArrow" (click)="showNextWeek()">&gt;</div>
                </div>
            </div>
            <div *ngIf="shiftScheduleLoading" class="loader-container">
              <div class="loader"></div>
            </div>
            <div class="bindShiftDataStyle">
                <ng-container *ngFor="let shift of ShiftScheduleData">
                    <div class="col-12 d-flex align-items-center mt-1 shiftRowStyle">
                        <div class="col-4 date">{{shift.Days}}</div>
                        <div class="col-6 d-flex  justify-content-center shiftHours" *ngIf="shift.Types != 'Off'">
                            <!-- <span *ngIf="shift.shiftval != ''">Shift</span>{{shift.shiftval != '' ? shift.shiftval :
                            'Custom'}} -->
                            <span>
                               [{{shift.StartTimes}} - {{shift.EndTimes}}]
                            </span>
                        </div>
                        <div class="col-6 shiftHoursOff d-flex justify-content-center" *ngIf="shift.Types == 'Off'">Off</div>
                        <div class="col-2 shiftEditIcon">
                            <img src="assets/images/editIcon.png" title="Edit Shift Hours" data-bs-toggle="modal"
                                data-bs-target="#changeShiftHoursdialog" (click)="editShiftDetails(shift)">
                        </div>
                    </div>
                </ng-container>
                <div *ngIf="ShiftScheduleData.length == 0 && shiftScheduleLoading == false">No data found!</div>

            </div>
        </div>

        <!-- Team,HitList,Messages -->

        <div class="teamHitList mt-3">
            <div class="accordian">
                <!-- Team -->
    
    <div class="accordion-item">
        <div class="accordion-header" (click)="toggleDiv(1)">
          <div class="row">
            <div class="col-12 d-flex align-items-center">
              <div class="col-3">Team</div>
              <div class="col-6">
                <select class="form-select" [(ngModel)]="selectedStatus"
                  (change)="selectStatus()" (click)="$event.stopPropagation()">
                  <option *ngFor="let status of teamStatus" [value]="status.id">{{status.status}}</option>
                </select>
              </div>
              <div class="col-3 text-end">
                <img style="height: 14px;" src="../../assets/images/downArrow.png" [ngClass]="{ 'rotate': activeSection === 1 }">
              </div>
            </div>
          </div>
  
        </div>
       
        <div class="accordion-body" *ngIf="isOpen(1)">
          <div *ngIf="isTeamLoading" class="loader-container">
            <div class="loader"></div>
          </div>
          <div class="setHeight">
            <div *ngFor="let users of onofusers">
              <div class="row" style="padding: 10px 10px 0 10px;">
  
                <div class="col-2"><img [src]="users.im_imagename_thumb ? imageUrl + users.im_imagename_thumb : imageUrl + 'DefaultUserImg.jpg'" alt="User Image" class="onlineimage" /></div>
                <div class="col-8 " >{{users.U_FIRST_NAME}} {{users.u_last_name}}
                    <div style="color:#1471c2;">{{users.u_title}}</div>
                   </div>
                <div class="col-2">
                  <p [style]="{'color':users.type_color}" >
                    {{users.Type_name}}</p>
                </div>
  
              </div>
            </div>
            <div *ngIf="onofusers.length == 0 && isTeamLoading == false" class="noStatusFound" style="font-family: 'FaktPro-Normal'">No data found!</div>
          </div>
        
    </div>
      </div>
  
      <!-- Hit List -->
      <div class="accordion-item">
        <div class="accordion-header" (click)="toggleDiv(2)">
          <div class="row">
            <div class="col-6"><img src="../../assets/images/hitlist_icon (1).png" height="13" alt="">Hitlist</div>
            <div class="col-6 text-end"><img style="height: 14px;" src="../../assets/images/downArrow.png" [ngClass]="{ 'rotate': activeSection === 2 }"></div>
          
        </div>
        </div>
        <div class="accordion-body p-0" *ngIf="isOpen(2)">
          <div *ngIf="isHitListLoading" class="loader-container">
            <div class="loader"></div>
          </div>
            <div class="hitlist">
                <div class="row">
                    <div class="col-2">Type</div>
                    <div class="col-7">Details</div>
                    <div class="col-3"></div>
                </div>
            </div>
  
          <div  class="setHeight" >
            <div class=" col-12 p-1 d-flex align-items-center" *ngFor="let task of tasks">
              <div class="col-2 text-black"><span class="HitType">T</span></div>
              <div class="col-7 text-black" style="font-family: 'FaktPro-Normal'">
                <label for="">{{ task.TaskName }}</label>
                <div for="" *ngIf="task.AssignTs">Due on <span class="ps-2">{{ LocalTimeConvertioninHours(task.DueDate)}}</span></div>
              </div>
              <div class="col-3 text-end"><img src="assets/images/view_iconsml.png" style="cursor: pointer;"
                  (click)="viewHitList(task)" alt="" data-bs-toggle="modal" data-bs-target="#viewTaskDetail1"></div>
            </div>
            <div class="noStatusFound"  *ngIf="tasks.length == 0 && isHitListLoading == false">
              No list for today
            </div>
          </div>
        </div>
      </div>
  
      <!-- Messages -->
      <div class="accordion-item">
        <div class="accordion-header" (click)="toggleDiv(3)">
          <div class="row">
            <div class="col-6">Messages</div>
            <div class="col-6 text-end"><img style="height: 14px;" src="../../assets/images/downArrow.png" [ngClass]="{ 'rotate': activeSection === 3 }"></div>
  
          </div>
          
        </div>
        <div class="accordion-body " *ngIf="isOpen(3)">
          <div  class="noStatusFound"  style="font-family: 'FaktPro-Normal';font-size: 12px;">No data found!</div>
        </div>
      </div>
            </div>
        </div>
    </div>
</div>


<div class="changeShiftHoursModalStyles">
    <div class="modal fade" id="changeShiftHoursdialog" data-bs-backdrop="static" aria-labelledby="modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">Change Shift Hours</div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" #editProfileModal
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="" [formGroup]="shiftForm">
                        <div class="d-flex align-items-center justify-content-center">
                            <span>Date :</span> <input type="text" name="" id="" class="form-control"
                                formControlName="txtdate" readonly>
                        </div>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <span>Shift :</span>
                            <select #dropdown name="" id="" class="form-select shift" formControlName="ddlshift"
                                (change)="shiftSelect($event)">
                                <option value="0">--Select--</option>
                                <option [value]="shift.ShiftName" *ngFor="let shift of ddlShiftsArray">
                                    {{shift.ShiftName}}-Shift [
                                    {{shift.StartTime != null? shift.StartTime: 'null' }}-{{shift.EndTime != null?
                                    shift.EndTime: 'null'}}
                                    ]</option>

                            </select>
                        </div>

                        <div class="d-flex align-items-center justify-content-center mt-2" *ngIf="showStartEndTimeDiv">
                            <span>Start time :</span>
                            <div class="stimeAm">
                                <select name="" id="" class="form-select" formControlName="ddlshiftFrom">
                                    <option value="0">--Select--</option>
                                    <option [value]="start.value" *ngFor="let start of startTimeArray">{{start.name}}
                                    </option>
                                </select>
                                <select name="" id="" class="form-select" formControlName="ddlshiftFromAm">
                                    <option value="0">--Select--</option>
                                    <option value="AM">AM</option>
                                    <option value="PM">PM</option>
                                </select>
                            </div>
                        </div>

                        <div class="d-flex align-items-center justify-content-center mt-2" *ngIf="showStartEndTimeDiv">
                            <span>End time :</span>
                            <div class="etimeAm">
                                <select name="" id="" class="form-select" formControlName="ddlshiftTo">
                                    <option value="0">--Select--</option>
                                    <option [value]="end.value" *ngFor="let end of endTimeArray">{{end.name}}</option>
                                </select>
                                <select name="" id="" class="form-select" formControlName="ddlshiftToAm">
                                    <option value="0">--Select--</option>
                                    <option value="AM">AM</option>
                                    <option value="PM">PM</option>
                                </select>
                            </div>
                        </div>

                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <span>(or)</span>
                        </div>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <input type="checkbox" name="" id="" class="form-check" [checked]="shiftType"
                                (change)="shiftTypeCheck($event)"><span class="ps-2">OFF</span>
                        </div>

                        <div class="d-flex align-items-center justify-content-center mt-3">
                            <button class="btn btn-primary" type="submit"
                                (click)="updateShiftHours(dropdown)">Submit</button>
                            <button class="btn btn-secondary ms-2" type="submit" data-bs-dismiss="modal">Cancel</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- <button class="btn btn-primary" (click)="openFirstModal()">Open First Modal</button> -->


