/* You can add global styles to this file, and also import other style files */
// @import '@kolkov/angular-editor/css/angular-editor.css';


@font-face {
    font-family: 'FaktPro-Bold';
    src: url('assets/fonts/FaktPro-Bold.otf') format('otf'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
         url('assets/fonts/FaktPro-Bold.otf') format('opentype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  }
@font-face {
    font-family: 'FaktPro-Light';
    src: url('assets/fonts/FaktPro-Light.otf') format('otf'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
         url('assets/fonts/FaktPro-Light.otf') format('opentype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  }
@font-face {
    font-family: 'FaktPro-Medium';
    src: url('assets/fonts/FaktPro-Medium.otf') format('otf'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
         url('assets/fonts/FaktPro-Medium.otf') format('opentype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  }
@font-face {
    font-family: 'FaktPro-Normal';
    src: url('assets/fonts/FaktPro-Normal.otf') format('otf'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
         url('assets/fonts/FaktPro-Normal.otf') format('opentype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  }

    body {
        margin: 0px;
        padding: 0px;
        border: 0px;
        width: auto;
        height: auto;
        color: #fff;
        font-family: "FaktPro-Normal";
        background: url(/assets/images/tasq_innerbg.png) no-repeat fixed;
        background-repeat: no-repeat;
        background-color: #222f43;
        background-size: cover;
        background-position: 50% 50%;
        font-size: 12px;
    }

html, body { height: 100%; }
body { margin: 0; font-family: 'FaktPro-Normal' }

::-webkit-scrollbar {

  width: 5px;

  height: 5px;

  background-color: #aaa;

}



::-webkit-scrollbar-thumb {

    background: #001124;
}


// spinner styles

/* Full-page blur effect */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(0px);
  display: flex
;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Hide content when overlay is active */
.content {
  filter: blur(5px);
}

/* Loader Styles */
.loader {
  width: 48px;
  height: 48px;
  position: relative;
}

.loader:before {
  content: '';
  width: 48px;
  height: 5px;
  background: #000;
  opacity: 0.25;
  position: absolute;
  top: 60px;
  left: 0;
  border-radius: 50%;
  animation: shadow 0.5s linear infinite;
}

.loader:after {
  content: '';
  width: 100%;
  height: 100%;
  background: #fff;
  animation: bxSpin 0.5s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
}


.modal-header{
  background-color: #bfcfd9;
  .modal-title{
      font-family: 'FaktPro-Bold';
      font-size: 14px;
  }
}

.documentModal .modal-dialog {
  max-width: 45% !important;
  width: 45% !important;

}
.commentsModal .modal-dialog {
  max-width: 60% !important;
  width: 60% !important;

}
.viewModal .modal-dialog {
  max-width: 90% !important;
  width: 90% !important;

}
.editModal .modal-dialog {
  max-width: 90% !important;
  width: 90% !important;

}
// .deleteCommentModal .modal-dialog {
//   padding: 5px;

// }




@keyframes bxSpin {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    transform: translateY(18px) scale(1, .9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }
  75% {
    transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    transform: translateY(0) rotate(90deg);
  }
}

@keyframes shadow {
  0%, 100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1);
  }
}



