/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'FaktPro-Bold';
    src: url('assets/fonts/FaktPro-Bold.otf') format('otf'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
         url('assets/fonts/FaktPro-Bold.otf') format('opentype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  }
@font-face {
    font-family: 'FaktPro-Light';
    src: url('assets/fonts/FaktPro-Light.otf') format('otf'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
         url('assets/fonts/FaktPro-Light.otf') format('opentype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  }
@font-face {
    font-family: 'FaktPro-Medium';
    src: url('assets/fonts/FaktPro-Medium.otf') format('otf'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
         url('assets/fonts/FaktPro-Medium.otf') format('opentype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  }
@font-face {
    font-family: 'FaktPro-Normal';
    src: url('assets/fonts/FaktPro-Normal.otf') format('otf'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
         url('assets/fonts/FaktPro-Normal.otf') format('opentype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  }

    body {
        margin: 0px;
        padding: 0px;
        border: 0px;
        width: auto;
        height: auto;
        color: #fff;
        font-family: "Roboto-Regular";
        background: url(/assets/images/tasq_innerbg.png) no-repeat fixed;
        background-repeat: no-repeat;
        background-color: #222f43;
        background-size: cover;
        background-position: 50% 50%;
        font-size: 12px;
    }
