<div class="spinner-container" *ngIf="spinner">
    <div class="spinner-wrapper">
        <div class="logo-glow"></div> <!-- Soft glow behind logo -->
        <div class="spinner"></div>
        <span class="logo-text">
            <img src="../../../assets/images/Xpert_logo.png" alt="XPERT" height="35px">
        </span>
    </div>
</div>

<div class="userStatusPage">
    <div class="col-12 d-flex align-items-center headerDesign ">
        <div class="col-10 title">User Status</div>
       
          <div class="col-2 text-end tagsHead d-flex justify-content-end pe-1">
           <div class="addBtnStyle" *ngIf="gridForm == true" (click)="addNewRole()"><img src="../../../assets/images/xpertAddIcon.png" alt=""><span >add</span></div>
        </div>
    </div>

    <div class="scrollTagsData" *ngIf="gridForm == true">
        <table class="table  table-striped gridTable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th class="text-center">Sequence</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">Edit</th>
                    <th class="text-center">Delete</th>
                </tr>
            </thead>
            <tbody >
                
                <tr  *ngFor="let user of userStatusDataList" >
                    <td>{{user.TYPE_NAME}}</td>
                    <td class="text-center">{{user.type_sequence}}</td>
                    <td class="text-center" [ngStyle]="{'color': user.type_status== 'Y' ? 'green' : 'red' }" >
                        {{user.type_status == 'Y'? 'Active' : 'In-Active'}}</td>
                    <td class="text-center"><img src="assets/images/editIcon.png" alt="" style="cursor: pointer;" (click)="editUserStatus(user)" ></td>
                    <td class="text-center"><img src="../../../assets/images/deleteIcon.png" alt="" style="cursor: pointer;"(click)="deleteUserStatus(userStatusConfirmDialog,user)"></td>
                    
                </tr>
            
            </tbody>
        </table>
        </div>
    <div class="userStatusForm mt-5 d-flex justify-content-center align-items-center" *ngIf="gridForm == false">
        <table class=" text-black">
            <tr>
                <td class="keyName">Name :</td>
                <td><input type="text" [readonly] = "action == 'U'" class="form-control" placeholder="Enter status name" [(ngModel)]="userStatusName"></td>
            </tr>
            <br>
            <tr>
                <td class="keyName">Sequence :</td>
                <td ><input type="text" class="form-control" placeholder="Enter sequence" (keypress)="allowOnlyNumbers($event)" [(ngModel)]="sequence"></td>
            </tr>
            <br>
            <tr>
                <td class="keyName">Color :</td>
                <td ><input type="color" class="form-control" [(ngModel)]="color"></td>
            </tr>
            <br>
            <tr *ngIf="action == 'U'">
                <td class="keyName">Status</td>
                <td class="col-6">
                    <span [ngStyle]="{'color': status== true ? 'green' : 'red' }" class="col-2">
                        <input type="checkbox" [checked]="status" class="ps-2"
                            (change)="handleStatus($event)" />&nbsp;&nbsp;{{status == true ? 'Active' :
                        'In-Active'}}</span>
                </td>
            </tr>
            <br>
            <tr >
                <td class="text-end"> <button class="btn btn-primary me-2 submitBtn" (click)="saveAndUpdateUserStatus()">Submit</button></td>
                <td>
                    <button class="btn btn-secondary" (click)="cancel()">Cancel</button>
                </td>
            </tr>

        </table>
           
    </div>
    </div>

    <ng-template #userStatusConfirmDialog let-modal>
        <div class="modal-header px-3 py-2">
            <!-- <h5 class="modal-title text-black">Created BY</h5> -->
            <button type="button" class="btn-close" (click)="modal.dismiss()"></button>
        </div>
        <div class="modal-body text-black text-center">
            <div>
              Are you sure you want to continue?
            </div>
        </div>
        <div class="modal-footer d-flex justify-content-center">
            <button type="submit" class="btn btn-primary" style="background-color:#f37121;border: #f37121;" (click)="saveAndUpdateUserStatus()">Yes</button>
            <button type="submit" class="btn btn-secondary" (click)="modal.dismiss()">No</button>
        </div>
    </ng-template>