<div class="container text-center mt-5">
  <button class="btn btn-primary" (click)="toggleDivs()">Toggle Div</button>

  <div class="box bg-success text-white" [ngClass]="{'show': showFirstDiv}">
    <p>First Div (Scrollable Content)</p>
    <p *ngFor="let i of [].constructor(10); let idx = index">Item {{ idx + 1 }}</p>
  </div>

  <div class="box bg-danger text-white" [ngClass]="{'show': !showFirstDiv}">
    <p>Second Div (Scrollable Content)</p>
    <p *ngFor="let i of [].constructor(10); let idx = index">Item {{ idx + 1 }}</p>
  </div>
</div>
