<div class="spinner-container" *ngIf="spinner">
    <div class="spinner-wrapper">
        <div class="logo-glow"></div> <!-- Soft glow behind logo -->
        <div class="spinner"></div>
        <span class="logo-text">
            <img src="../../../assets/images/Xpert_logo.png" alt="XPERT" height="35px">
        </span>
    </div>
</div>

<div class="modal-header px-3 py-2">
    <h5 class="modal-title text-black">Update Ticket</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeModal()" aria-label="Close"></button>
</div>
<div class="modal-body text-black">
    <form [formGroup]="updateTicketForm">
        <div style="height: calc(96vh - 102px);overflow: auto;overflow-x:hidden;padding-right: 10px;" *ngIf="editTicketData">
            <div class="row mb-2">
                <div class="col-4">
                    <div class="d-flex align-items-center mb-1">
                        <label for="ticketFrom" class="col-3 col-form-label">Ticket Id:</label>
                        <div class="col-9">
                            <span>#{{editTicketData.Ticket}}</span>
                        </div>
                    </div>

                    <div class="d-flex align-items-center  mb-3">
                        <label for="ticketFrom" class="col-3 col-form-label">Email:</label>
                        <div class="col-9">
                            <span>{{editTicketData.ReqUserEmail.trim()}}</span>
                        </div>
                    </div>

                    <div class="d-flex align-items-center">
                        <label for="priority" class="col-3 col-form-label p-0">Priority:</label>
                        <div class="radio-group">
                            <span *ngFor="let priority of priorties" class="d-flex align-items-center">
                                <input type="radio" id="low" name="priority" [value]="priority.value"
                                    formControlName="priority">
                                <span class="ps-1 pt-1">{{priority.label}}</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="d-flex align-items-center mb-1">
                        <label for="ticketFrom" class="col-3 col-form-label">Ticket From:</label>
                        <div class="col-9">
                            <span>{{editTicketData.ReqSource == 'F'? 'Client' : 'Internal QA'}}</span>
                        </div>
                    </div>

                    <div class="d-flex align-items-center mb-2">
                        <label for="ticketFrom" class="col-3 col-form-label">Mobile:</label>
                        <div class="col-9">
                            <span>{{(editTicketData.ReqUserPhone == "" || editTicketData.ReqUserPhone == 'null') ? '---'
                                : editTicketData.ReqUserPhone}}</span>
                        </div>
                    </div>

                    <div class="d-flex align-items-center mb-2">
                        <label for="ticketFrom" class="col-3 col-form-label ">Status:</label>
                        <div class="col-9">
                            <select name="" id="" class="form-select py-1" style="width : 60% "
                                formControlName="ticketStatus">
                                <option value="0">Select Status</option>
                                <option value="7">New</option>
                                <option value="1">Open</option>
                                <option value="5">Resolved</option>
                                <option value="4">Closed</option>
                                <option value="8">Re-open</option>
                                <option value="15">Need Clarification</option>
                                <option value="10">Waiting For Design</option>
                                <option value="11">In Development</option>
                                <option value="12">Testing</option>
                                <option value="13">Ready For Release</option>
                                <option value="14">Released</option>
                                <option value="16">For Chrome Update</option>
                                <option value="6">Longterm Fix</option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="col-4">
                    <div class="d-flex align-items-center mb-1">
                        <label for="ticketFrom" class="col-3 col-form-label" style="width : 30%">Dealer:</label>
                        <div class="col-9" style="width : 70%">
                            <span>{{editTicketData.ReqDealerName != ''?
                                editTicketData.ReqDealerName : '---'}}</span>
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-1">
                        <label for="ticketFrom" class="col-3 col-form-label " style="width : 30%">Requested By:</label>
                        <div class="col-9" style="width : 70%">
                            <span>{{editTicketData.ReqUserName + '@'}}
                                {{LocalTimeConvertioninHours(editTicketData.CREATEDDATE)}}</span>
                        </div>
                    </div>

                    <div class="d-flex align-items-center mb-1">
                        <label for="ticketFrom" class="col-3 col-form-label"  style="width : 30%">Due Date:</label>
                        <div class="col-9"  style="width : 70%">
                            <div class="datepicker-container">
                                <input class="form-control" name="date" autocomplete="off" formControlName="dueDate"
                                    placeholder="Due Date" bsDatepicker #datepicker="bsDatepicker"
                                    [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY', showWeekNumbers: false, containerClass: 'theme-dark-blue' }" />

                                <!-- Close Icon -->
                                <img src="assets/images/close_newbtn.png" class="datepicker-close-img" alt="Close"
                                    (click)="clearDate(datepicker)" />
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="row mb-2">
                <div class="col-12">
                    <div class="d-flex align-items-center">
                        <label for="ticketFrom" class="col-2 col-form-label" style="width: 8%;">Title:</label>
                        <div class="col-10" style="width: 92%;">
                            <input type="text" class="form-control" formControlName="title">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-6">
                    <div class="mb-2">
                        <label for="">Description :</label>
                        <angular-editor [config]="config" formControlName="description"></angular-editor>
                    </div>
                    <div class="row d-flex align-items-center mb-2 ">

                        <div class="col-5" style="width:38%;color:#1470c1">
                            <a style="text-decoration:underline">View (or) Add Documents</a> <span class="ps-2">Count 0</span>
                        </div>


                        <div class="col-7" style="width:62%">
                            <div class="d-flex align-items-center">
                                <label for="ticketFrom" class="col-3 col-form-label" style="width:20%">Assigned:</label>

                                <div class="addBtnStyle text-white" (click)="openAssignModal()"><img
                                        src="../../../assets/images/xpertAddIcon.png" alt=""><span>add</span>
                                </div>
                                <span class="assignedName" *ngIf="AssignUserName">
                                    {{AssignUserName}}
                                    <img src="../../../assets/images/xpertCloseIcon.png" alt=""
                                        (click)="clearAssignedData()"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="d-flex align-items-center">
                            <label for="title" class="col-2 col-form-label">Followers:</label>
                            <div class="col-10">
                                <input type="text" id="follower" class="form-control" placeholder="Enter Follower">
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="d-flex flex-wrap align-items-center">
                            <span class="assignedName mb-2" *ngFor="let selectedFollower of selectedRows"
                                (click)="unSelectFollower(selectedFollower)">{{ selectedFollower.FirstName }} {{
                                selectedFollower.LastName }} <img src="../../../assets/images/xpertCloseIcon.png"
                                    alt=""></span>
                        </div>
                        <div class=" tblFolwersHeight" style="padding-left: 10px;">

                            <table class="table table-striped mb-0">
                                <!-- <tbody> -->
                                <div *ngIf="followerLoader" class="loader-container mt-5">
                                    <div class="loader"></div>
                                </div>
                                <tr *ngFor="let follower of bindfollowersData; let i = index"
                                    (click)="selectFollower(follower)" [ngClass]="{'selected': isSelected(follower)}">
                                    <td class="d-flex align-items-center">
                                        {{ follower.FirstName }} {{ follower.LastName }}
                                    </td>
                                </tr>
                                <div *ngIf="bindfollowersData.length == 0 && followerLoader == false"
                                    class="text-center text-black mt-5">Followers are not found</div>

                                <!-- </tbody> -->
                            </table>
                        </div>
                    </div>

                </div>
                <div class="col-6">
                    <label for="">Comments :</label>
                    <div style="border: 1px solid #dddddd;height: 40rem;border-radius: 5px;">
                        <div style="height: 250px;overflow: auto;">
                            <div class="p-2">sfsdfgsdf</div>
                        </div>
                        <div class="p-2">
                            <angular-editor [config]="config"></angular-editor>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-12 d-flex align-items-center mb-1" *ngIf="selectedTagsList.length > 0">
                <span class="d-flex flex-wrap">
                    <ng-container *ngFor="let tag of selectedTagsList">
                        <div style="margin-bottom: 5px;">
                            <span [ngClass]="tag.Type" (click)="unSelectTagClick(tag)">{{tag.Tag_Name | titlecase}} <img
                                    src="../../../assets/images/xpertCloseIcon.png" alt=""></span>
                        </div>
                    </ng-container>

                </span>
            </div>

            <div class="row mb-2 m-0">
                <div style="border:1px solid #dee2e6;border-radius: 5px;">
                    <div style="padding : 10px 0 15px 0">Suggested Department Tags</div>

                    <div *ngIf="tagsLoader" class="loader-container mt-1">
                        <div class="loader"></div>
                    </div>


                    <div class="col-12 d-flex align-items-center mb-1" *ngIf="tagsDataList.length > 0">
                        <div class="col-2">Issue Tags :</div>
                        <span class="d-flex flex-wrap col-10">
                            <ng-container *ngFor="let tag of tagsDataList">
                                <div *ngIf="tag.Type == 'I'" style="margin-bottom: 5px;">
                                    <span [ngClass]="tag.Type" (click)="selectTagClick(tag)">{{tag.Tag_Name |
                                        titlecase}} <img src="../../../assets/images/xpertPlusIcon.png" alt=""></span>
                                </div>
                            </ng-container>

                        </span>

                    </div>
                    <div class="col-12 d-flex align-items-center mb-1" *ngIf="tagsDataList.length > 0">
                        <div class="col-2">Severity Tags :</div>
                        <ng-container *ngFor="let tag of tagsDataList">
                            <div *ngIf="tag.Type == 'V'" style="margin-bottom: 5px;">
                                <span (click)="selectTagClick(tag)" [ngClass]="tag.Type">{{tag.Tag_Name | titlecase}}
                                    <img src="../../../assets/images/xpertPlusIcon.png" alt=""></span>
                            </div>
                        </ng-container>
                    </div>
                    <div class="col-12 d-flex align-items-center mb-1" *ngIf="tagsDataList.length > 0">
                        <div class="col-2">Release Tags :</div>
                        <ng-container *ngFor="let tag of tagsDataList">
                            <div *ngIf="tag.Type == 'R'" style="margin-bottom: 5px;">
                                <span [ngClass]="tag.Type" (click)="selectTagClick(tag)">{{tag.Tag_Name | titlecase}}
                                    <img src="../../../assets/images/xpertPlusIcon.png" alt=""></span>
                            </div>
                        </ng-container>
                    </div>
                    <div class="col-12 d-flex align-items-center mb-1" *ngIf="tagsDataList.length > 0">
                        <div class="col-2">Other Tags :</div>
                        <ng-container *ngFor="let tag of tagsDataList">
                            <div *ngIf="tag.Type == 'S'" style="margin-bottom: 5px;">
                                <span [ngClass]="tag.Type" (click)="selectTagClick(tag)">{{tag.Tag_Name | titlecase}}
                                    <img src="../../../assets/images/xpertPlusIcon.png" alt=""></span>
                            </div>
                        </ng-container>
                    </div>
                    <div class="col-12 d-flex align-items-center mb-1" *ngIf="tagsDataList.length > 0">
                        <div class="col-2">Customer Tags :</div>
                        <ng-container *ngFor="let tag of tagsDataList">
                            <div *ngIf="tag.Type == 'C'" style="margin-bottom: 5px;">
                                <span [ngClass]="tag.Type" (click)="selectTagClick(tag)">{{tag.Tag_Name | titlecase}}
                                    <img src="../../../assets/images/xpertPlusIcon.png" alt=""></span>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="text-center mt-4">
                <button class="btn btn-primary me-2"
                    style="background-color: #f37121;border: 1px solid #f37121">Submit</button>
                <button class="btn btn-secondary">Cancel</button>
            </div>

        </div>
    </form>
</div>