.dashBoardPage {
    position: relative;
    // width: 300px;
    max-height: 100vh; /* Prevents full-page extra scrolling */
    overflow: hidden;
    .headerDesign {
        background-color: #bfcfd9;
        padding: 3px;

        .title {
            font-family: 'FaktPro-Bold';
            font-size: .8rem;
            color: #000;
        }

        .links {
            font-family: 'FaktPro-Medium';
            font-size: .8rem;
            color: #000;
            text-decoration: underline;
            cursor: pointer;

        }
    }

    .taskGridTable {
        height: calc(100vh - 150px);
        overflow: auto;
        // border-bottom: 5px solid black
    }

    .taskGrid {
        font-family: 'FaktPro-Normal';
        font-size: .8rem;
        color: #000;
        border-top: 5px solid;
        overflow-x: hidden;
        position: relative;
        /* Needed for z-index to work */
        transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;

        .firstRow {
            background-color: #e6eff5;
            padding: 5px;

            .ticketStyle {
                font-family: 'FaktPro-Bold';
                font-size: 1rem;
            }

            .dealerSTyle {
                font-family: 'FaktPro-Bold';
                font-size: 1rem;
                color: #d1681b;
            }

            .tagname {
                font-family: 'FaktPro-Bold';
                font-size: 1rem;
                margin-left: 1rem;
            }

            // .tagsStyle{
            //     background: #1472c1;
            //     color: #fff;
            //     padding: .3rem;
            //     border-radius: 5px;
            //     margin-left: 2px;
            //     font-size: .5rem;
            // }

            .tag-box {
                padding: 3px;
                margin: 2px;
                border-radius: 5px;
                display: inline-block;
                font-size: .7rem;
            }

            .S {
                background-color: #1471c2;
                color: #fff;
            }

            // Blue
            .I {
                background-color: #ff0000;
                color: #fff;
            }

            // Green
            .R {
                background-color: #14c243;
                color: #fff;
            }

            // Yellow
            .V {
                background-color: #ffc107;
                color: #fff;
            }

            // Red
            .C {
                background-color: #a914c2;
                color: #fff;
            }

            .doc {
                color: #1472c1;
                text-decoration: underline;
                font-size: 1rem;

                .notification {
                    position: relative;
                    display: inline-block;
                }


                .notification .badge {
                    position: absolute;
                    top: -5px;
                    right: -10px;
                    padding: 2px 5px;
                    border-radius: 50%;
                    background-color: red;
                    color: white;
                }
            }

            .icon {
                .notification {
                    position: relative;
                    display: inline-block;
                }


                .notification .badge {
                    position: absolute;
                    top: -5px;
                    right: -10px;
                    padding: 2px 5px;
                    border-radius: 50%;
                    background-color: red;
                    color: white;
                }
            }
        }

        .secondRow {
            background-color: #fff;
            padding: 5px;

            .title {
                font-family: 'FaktPro-Medium';
                font-size: 1rem;
                display: flex;
                gap: 20px;

            }

            .keyName {
                font-family: 'FaktPro-Medium';
                font-size: .9rem;
                color: #1472c1;
            }

            .acknowledgeBtn {
                background: #1472c1;
                color: #fff;
                padding: 5px;
                margin-left: 5px;
            }

            .assignToMe {
                font-family: 'FaktPro-Medium';

                .form-check-input {
                    width: 1rem;
                    height: 1rem;
                }

                .assignToBtn {
                    background: #1472c1;
                    color: #fff;
                    padding: 4px;
                    margin-left: 5px;
                }
            }

            .assignProfileImg {
                height: 45px;
                border-radius: 50%;
                border: 1px solid lightgray;
            }
        }

        .thirdRow {
            background-color: #e6eff5;
            padding: 3px;

            .followers img {
                height: 25px;
                border-radius: 50px;
                border: 1.5px solid white;
                margin: 0 8px 0 0;
            }

            .keyName {
                font-family: 'FaktPro-Medium';
                font-size: .9rem;
                color: #1472c1;
            }
        }
    }

   

    .filterRow {
        background-color: #8da9ba;
        // padding: 5px 0;

        .form-select{
            font-family: 'FaktPro-Normal';
            font-size: .8rem;
        }

        .filterBtns{
            height: 27px;

            .filterSubmitBtn {
                background: #fd6305;
                padding: 4px 5px;
                border-radius: 5px;
                font-family: 'FaktPro-Medium';
                cursor: pointer;
            }
    
            .filterCancelBtn {
                background: #696969;
                padding: 4px 5px;
                border-radius: 5px;
                font-family: 'FaktPro-Medium';
                margin-left: 2px;
                margin-right: 2px;
                cursor: pointer;
    
            }
            
        }
    }

    // .pagination {
    //     display: flex;
    //     gap: 20px;
    //     justify-content: center;
    //     align-items: center;
    //     /* background: #f0f4ff; */
    //     padding: 10px 25px 0 5px;

    //     button {
    //         padding: 3px 10px;
    //         cursor: pointer;
    //     }
    // }

    button:disabled {
        cursor: not-allowed !important;
        opacity: 0.4 !important;
    }
}

.custom-modal-class .modal-dialog {
    max-width: 100% !important;
    /* Adjust as needed */
    width: 100% !important;
    /* For full control */

}

//   .custom-modal-class .modal-content {
//     // padding: 20px; /* Optional: Customize padding */
//     margin: auto;
//     background-color: transparent !important;
//   }

//   :host ::ng-deep .custom-modal-class .modal-content {
//     background-color: lightblue !important;
//   }
.analyticsScroll{
    height: calc(100vh - 110px);
    overflow: auto;
}
.allClientsContainer{
    width: 100%;
    margin: auto;
    padding: 1px;
    margin-top: 2px;
}

.table-container {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    border: 1px solid #ccc;
    margin: auto; 
    font-size: .9rem;
    
    transition: width 0.3s ease, margin-left 0.3s ease;
   
  }
   div .table-container.expanded { width: 98% !important;}
   div .table-container.collapsed { width: 78%;}
  
   
  .data-table {
    width: 100%;
    border-collapse: collapse;
  }
   
  .data-table th{
        padding: 6px;
        text-align: left;
        border: 1px solid #ddd;
        background-color: #fff;
        text-align: center;
       // text-decoration: underline;
        cursor: pointer;
      
  }
  .data-table td {
    padding: 7px;
    text-align: left;
    border: 1px solid #ddd;
    background-color: #fff;
    text-align: center;
   // text-decoration: underline;
    cursor: pointer;
  }
  
  .data-table th {
    background-color: #5c798b;
    position: sticky;
    top: 0;
    color: #fff;
    border: none;
    padding: 5px;
  }
  
  td.fixed-column.ng-tns-c3775152443-13 {
    background: #90a7b5;
    color: white;
    border: none;
  }
   
  .fixed-column {
    position: sticky;
    left: 0;
    background-color: #f4f4f4;
    z-index: 3;
    text-align: left !important;
  }

  .box {
    width: 100%;
    // padding: 20px;
    // border-radius: 10px;
    // text-align: center;
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    visibility: hidden;
    position: absolute;
  }
  
  .show {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
    position: relative;
  }