<div class="spinner-container" *ngIf="spinner">
  <div class="spinner-wrapper">
    <div class="logo-glow"></div> <!-- Soft glow behind logo -->
    <div class="spinner"></div>
    <span class="logo-text">
      <img src="../../../assets/images/Xpert_logo.png" alt="XPERT" height="35px">
    </span>
  </div>
</div>

<div class="modal-header px-3 py-2">
  <h5 class="modal-title text-black">Create Ticket</h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeModal()" aria-label="Close"></button>
</div>
<div class="modal-body text-black">
  <form [formGroup]="createTaskForm">
  <div style="height: calc(96vh - 102px);overflow: auto;overflow-x:hidden;padding-right: 10px;">
    <div class="row mb-2">
      <div class="col-md-4 d-flex align-items-center">
        <label for="ticketFrom" class="col-3 col-form-label">Ticket From:</label>
        <div class="col-9">
          <select name="" id="" class="form-select" formControlName="ticketFrom"
          [attr.disabled]="this.action == 'U'?true:false"
          [ngClass]="{ 'is-invalid': submitted && createTaskForm.controls.ticketFrom.errors }">
            <option value="">Select</option>
            <option value="F">Client</option>
            <option value="A">Internal</option>
          </select>
        </div>
      </div>
   
      <div class="col-md-4 d-flex align-items-center">
        <label for="dealer" class="col-3 col-form-label">Dealer:</label>
        <div class="col-9">
         <select name="" id="" class="form-select" formControlName="dealer" [ngClass]="{ 'is-invalid': submitted && createTaskForm.controls.dealer.errors }">
          <option value="">Select Dealer</option>
          <option [value]="dealer.dealer_id" *ngFor="let dealer of dealersData">{{dealer.DealerName}}</option>
         </select>
        </div>
      </div>

      <div class="col-md-4 d-flex align-items-center" *ngIf="createTaskForm.controls.ticketFrom.value == 'F'">
        <label for="email" class="col-3 col-form-label" >Email:</label>
        <div class="col-9">
          <input type="text" id="email" class="form-control" placeholder="Enter email" formControlName="email" [readonly]="action == 'U' ? true : false"
          [ngClass]="{ 'is-invalid': submitted && createTaskForm.controls.email.errors }">
        </div>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-md-4 d-flex align-items-center">
        <label for="title" class="col-3 col-form-label">Title:</label>
        <div class="col-9">
          <input type="text" id="title" class="form-control" placeholder="Enter Title" formControlName="title"
          [ngClass]="{ 'is-invalid': submitted && createTaskForm.controls.title.errors }">
        </div>
      </div>
      <div class="col-md-4 d-flex align-items-center">
        <label for="attachFile" class="col-3 col-form-label">Attach File:</label>
        <div class="col-9">
          <input type="file" id="attachFile" class="form-control"  (change)="onFileSelected($event)" multiple>
        </div>
      </div>
      <div class="col-md-4 d-flex align-items-center">
        <label for="dueDate" class="col-3 col-form-label">Due Date:</label>
        <div class="col-9">
          <div class="datepicker-container">
            <input class="form-control" name="date" autocomplete="off" formControlName="dueDate"
                placeholder="Due Date" bsDatepicker #datepicker="bsDatepicker"
                [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY', showWeekNumbers: false, containerClass: 'theme-dark-blue' }"/>
        
            <!-- Close Icon -->
            <img src="assets/images/close_newbtn.png" class="datepicker-close-img"
                alt="Close" (click)="clearDate(datepicker)" />
        </div>
        </div>
      </div>
    </div>

    <div class="row mb-2">
      <div [ngClass]="{'invalid-border': submitted && createTaskForm.controls.description.errors }">
      <angular-editor [config]="config" formControlName="description"></angular-editor>
    </div>
    </div>

    <div class="row mb-2">
      <div class="col-md-4 d-flex align-items-center">
        <label for="assign" class="col-3 col-form-label">Assigned:</label>
        <div class="col-2">
          <div class="addBtnStyle text-white" (click)="openAssignModal()"><img src="../../../assets/images/xpertAddIcon.png"  alt=""><span>add</span>
          </div>
        </div>
        <div class="col-7 ps-3">
          <span class="assignUserName"  *ngIf="AssignUserData">{{AssignUserData.FirstName}} {{AssignUserData.MiddleName}} {{AssignUserData.LastName}} 
            <img src="../../../assets/images/xpertCloseIcon.png" alt="" class="ps-2"></span>
        </div>
      </div>
      <div class="col-md-4 d-flex align-items-center">
        <label for="attachFile" class="col-3 col-form-label">Status:</label>
        <div class="col-9">
          <select name="" id="" class="form-select" formControlName="ticketStatus">
            <option value="0">--Select--</option>
            <option value="7">New</option>
            <option value="1">Open</option>
            <option value="11">In Development</option>
            <option value="13">Ready For Release</option>
            <option value="14">Released</option>
            <option value="5">Resolved</option>
            <option value="4">Closed</option>
          </select>
        </div>
      </div>
      <div class="col-md-4 d-flex align-items-center">
        <label for="priority" class="col-3 col-form-label">Priority:</label>
        <div class="radio-group" >
          <span *ngFor="let priority of priorties" class="d-flex align-items-center">
             <input type="radio" id="low" name="priority"[value]="priority.value"
             formControlName="priority">
          <label class="ps-1">{{priority.label}}</label>
        </span>

        </div>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-md-4 d-flex align-items-center">
        <label for="title" class="col-3 col-form-label">Followers:</label>
        <div class="col-9">
          <input type="text" id="follower" class="form-control" placeholder="Enter Follower" (keyup)="searchFollowerName($event)">
        </div>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-md-4 tblFolwersHeight" style="padding-left: 10px;">
        <table class="table table-striped mb-0">
          <!-- <tbody> -->
            <div *ngIf="followerLoader" class="loader-container mt-3">
              <div class="loader"></div>
            </div>
            <tr *ngFor="let follower of bindfollowersData; let i = index"
                (click)="selectRow(follower)" (dblclick)="doubleClick(follower, 1)"
                [ngClass]="{'selected': isSelected(follower)}">
              <td class="d-flex align-items-center">
                {{ follower.FirstName }} {{ follower.LastName }}
              </td>
            </tr>
        <div *ngIf="bindfollowersData.length == 0 && followerLoader == false" class="text-center text-black mt-5">Followers are not found</div>

          <!-- </tbody> -->
        </table>
      </div>
      <div class="col-md-1 mt-4 text-center">
        <div><span class="followerBtns" (click)="moveSelectedRows(1)">></span></div><br>
        <div><span class="followerBtns" (click)="moveSelectedRows(2)"><</span>
        </div>

      </div>

      <div class="col-md-4 tblFolwersHeight" >
        <table class="table table-striped mb-0">
          <!-- <tbody> -->
            <div *ngIf="followerLoader" class="loader-container mt-3">
              <div class="loader"></div>
            </div>
            <tr *ngFor="let follower of movedRows; let i = index" (click)="selectRow(follower)" (dblclick)="doubleClick(follower, 2)" [ngClass]="{'selected': isSelected(follower)}">
              <td class="d-flex align-items-center">
                {{ follower.FirstName }} {{ follower.LastName }}
              </td>
            </tr>
          <!-- </tbody> -->
        </table>
        <div *ngIf="movedRows.length == 0 && followerLoader == false" class="text-center text-black mt-5">Followers are not found</div>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-md-4 d-flex align-items-center">
        <label for="tag" class="col-3 col-form-label">Add Tag:</label>
        <div class="col-9">
          <input type="text" id="tag" class="form-control" placeholder="Enter tag">
        </div>
      </div>
    </div>

    <div class="col-12 d-flex align-items-center mb-1" *ngIf="selectedTagsList.length > 0">
      <span class="d-flex flex-wrap">
        <ng-container *ngFor="let tag of selectedTagsList">
          <div style="margin-bottom: 5px;">
            <span [ngClass]="tag.Type" (click)="unSelectTagClick(tag)">{{tag.Tag_Name | titlecase}} <img src="../../../assets/images/xpertCloseIcon.png" alt=""></span>
          </div>
        </ng-container>

      </span>
    </div>

    <div class="row mb-2 m-0">
     <div style="border:1px solid #dee2e6;border-radius: 5px;"><div style="padding : 10px 0 15px 0">Suggested Department Tags</div>

     <div *ngIf="tagsLoader" class="loader-container mt-1">
      <div class="loader"></div>
    </div>

    
     <div class="col-12 d-flex align-items-center mb-1" *ngIf="tagsDataList.length > 0">
      <div class="col-2">Issue Tags :</div>
      <span class="d-flex flex-wrap col-10">
        <ng-container *ngFor="let tag of tagsDataList">
          <div *ngIf="tag.Type == 'I'" style="margin-bottom: 5px;">
            <span [ngClass]="tag.Type" (click)="selectTagClick(tag)">{{tag.Tag_Name | titlecase}} <img src="../../../assets/images/xpertPlusIcon.png" alt=""></span>
          </div>
        </ng-container>

      </span>

     </div>
     <div class="col-12 d-flex align-items-center mb-1" *ngIf="tagsDataList.length > 0">
      <div class="col-2">Severity Tags :</div>
      <ng-container *ngFor="let tag of tagsDataList">
        <div *ngIf="tag.Type == 'V'" style="margin-bottom: 5px;">
          <span (click)="selectTagClick(tag)" [ngClass]="tag.Type">{{tag.Tag_Name | titlecase}}  <img src="../../../assets/images/xpertPlusIcon.png" alt=""></span>
        </div>
      </ng-container>
     </div>
     <div class="col-12 d-flex align-items-center mb-1" *ngIf="tagsDataList.length > 0">
      <div class="col-2">Release Tags :</div>
      <ng-container *ngFor="let tag of tagsDataList">
        <div *ngIf="tag.Type == 'R'" style="margin-bottom: 5px;">
          <span [ngClass]="tag.Type" (click)="selectTagClick(tag)">{{tag.Tag_Name | titlecase}} <img src="../../../assets/images/xpertPlusIcon.png" alt=""></span>
        </div>
      </ng-container>
     </div>
     <div class="col-12 d-flex align-items-center mb-1" *ngIf="tagsDataList.length > 0">
      <div class="col-2">Other Tags :</div>
      <ng-container *ngFor="let tag of tagsDataList">
        <div *ngIf="tag.Type == 'S'" style="margin-bottom: 5px;">
          <span [ngClass]="tag.Type" (click)="selectTagClick(tag)">{{tag.Tag_Name | titlecase}} <img src="../../../assets/images/xpertPlusIcon.png" alt=""></span>
        </div>
      </ng-container>
     </div>
     <div class="col-12 d-flex align-items-center mb-1" *ngIf="tagsDataList.length > 0">
      <div class="col-2">Customer Tags :</div>
      <ng-container *ngFor="let tag of tagsDataList">
        <div *ngIf="tag.Type == 'C'" style="margin-bottom: 5px;">
          <span [ngClass]="tag.Type" (click)="selectTagClick(tag)">{{tag.Tag_Name | titlecase}} <img src="../../../assets/images/xpertPlusIcon.png" alt=""></span>
        </div>
      </ng-container>
     </div>
    </div>
    </div>
    <div class="text-center mt-4">
      <button class="btn btn-primary me-2" style="background-color: #f37121;border: 1px solid #f37121" (click)="saveAndUpdateTicket()">Submit</button>
      <button class="btn btn-secondary">Cancel</button>
    </div>
  </div>
</form>
 




</div>

