.modal-body {
  font-family: 'FaktPro-Normal';
  font-size: .9rem;

  .radio-group {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .radio-group input[type="radio"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    display: inline-block;
    position: relative;
    cursor: pointer;
  }

  .radio-group input[type="radio"]:checked {
    background-color: #007bff;
    /* Blue color */
    border-color: #007bff;
  }

  .radio-group input[type="radio"]:checked::before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    background-color: #007bff;
    border-radius: 4px;
  }

  .radio-group label {
    font-size: 16px;
    cursor: pointer;
  }

  .close-icon {
    position: absolute;
    right: 40px;
    cursor: pointer;
    width: 16px;
    height: 16px;
    top: 72px;
}

  .followerBtns {
    background: #ff6000;
    padding: 8px 12px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }

  .tblFolwersHeight {
    height: 150px;
    overflow: auto;
    padding-right: 0;
    background-color: #d3d7dc !important;
    padding-left: 0;
  }
  
  .table-striped tr {
    cursor: pointer;
    height: 40px !important; /* Fixed height for all rows */
  }
  
  .table-striped tr td {
    padding: 8px;
    font-size: 0.8rem;
    vertical-align: middle; /* Keeps text aligned in the center */
    height: 40px; /* Ensures the td matches row height */
  }
  
  /* Selected row style */
  .table-striped tr.selected {
    background-color: #ff6000 !important;
    color: white !important;
  }
  
  /* Striped effect for alternating rows */
  .table-striped tr:nth-of-type(odd):not(.selected) {
    background-color: #f2f2f2 !important;
  }
  
  .table-striped tr:nth-of-type(even):not(.selected) {
    background-color: #e6e6e6 !important;
  }

  .S {
    background-color: #1471c2;
    color: #fff;
    padding: 5px;
    margin-right: 5px;
    border-radius: 5px;
    font-size: .8rem;
    cursor: pointer;

  }

  // Blue
  .I {
    background-color: #696969;
    color: #fff;
    padding: 5px;
    margin-right: 5px;
    border-radius: 5px;
    font-size: .8rem;
    cursor: pointer;


  }

  // Green
  .R {
    background-color: #14c243;
    color: #fff;
    padding: 5px;
    margin-right: 5px;
    border-radius: 5px;
    font-size: .8rem;
    cursor: pointer;


  }

  // Yellow
  .V {
    background-color: #ffc107;
    color: #fff;
    padding: 5px;
    margin-right: 5px;
    border-radius: 5px;
    font-size: .8rem;
    cursor: pointer;


  }

  // Red
  .C {
    background-color: #a914c2;
    color: #fff;
    padding: 5px;
    margin-right: 5px;
    border-radius: 5px;
    font-size: .8rem;
    cursor: pointer;


  }

  .assignUserName{
    background: #1470c1;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    margin-left: 5px;
  }

}