
.headerDesign{
    background: #bfcfd9;
    padding: 3px;
    .title{
        padding: 5px;
        font-family: "FaktPro-Bold";
        font-size: 0.8rem;
        margin-left: 10px;
    }
    .statusCounts{
          background: #4d89bd;
          padding: 3px;
          border-radius: 5px;
          margin-right: 2px;
          font-size: .63rem;
    }
}