<div class="overlay" id="overlay" *ngIf="spinner">
  <div class="loader"></div>
  <div class="loading">Loading...</div>

</div>

<div class="allTaskspage">
  <div class="col-12 d-flex align-items-center headerDesign">

    <div class="col-9">
      <div class="row">
        <div class="col title text-black">All Tickets
          <span class="ms-1">
            <img src="../../../assets/images/gridFilterImg.png" alt="" style="cursor: pointer;">
          </span>
        </div>
        <div class="col-10 d-flex align-items-center">
          <span class="statusCounts" *ngFor="let d of statusData">{{d.name}} - {{d.count}}</span>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="input-group">

                    <input type="text" class="form-control py-0" placeholder="Search..." aria-label="Search">
                    <span class="input-group-text bg-light">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </span>
                </div>
    </div>

  </div>

</div>